

<div id="contenedor-tablas">

    <div class="row justify-content-md-center text-center">

        <div class="col col-4 bg-white habilidades" style="border-radius: 15px 0 0 15px; border:1px solid black; box-shadow:0 5px 5px 0 gray;">
            <i class="bi bi-code-slash"></i>
            <h3>FrontEnd</h3>
            <p>
                Trabajo desde .Net usando la tecnologia de microsoft
            </p>

            <p class="text-primary cabecera">
                Stack:
            </p>

            <p>
                React, TypeScript, Tailwind, Flutter
            </p>

            <p class="text-primary cabecera">
                Experiencia:
            </p>

            <ul>
                <li>React Router</li>
                <li>Redux</li>
                <li>React Hook Form</li>
                <li>React Testing Lybrary</li>
                <li>Dart</li>

            </ul>


        </div>

        <div class="col col-4 bg-white habilidades" style=" border-radius: 0 15px 15px 0; border:1px solid black; box-shadow:0px 5px 5px 0px gray;">

            <i class="habilidades bi-hdd-stack"></i>
            <h3>BackEnd</h3>
            <p>
                Trabajo desde .Net usando la tecnologia de microsoft
            </p>

            <p class="text-primary cabecera">
                Stack:
            </p>

            <p>
                Asp.Net Core, Sql Server
            </p>

            <p class="text-primary cabecera">
                Experiencia:
            </p>

            <ul>
                <li>Razor</li>
                <li>Blazor</li>
                <li>Entity FrameWork</li>
                <li>Dapper</li>
                <li>Principios Solid</li>

            </ul>

        </div>



    </div>

</div>